* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202632;
  font-size: 15px;
  font-family: cursive;
}

.adviceWrap {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.adviceCard {
  background-color: #313a49;
  border-radius: 5%;
  height: auto;
  max-width: 625px;
  min-width: 350px;
  width: 80%;
  text-align: center;
}

.adviceNum {
  font-size: 1rem;
  color: #57ffb0;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
}

.adviceText {
  color: #d8e6f3;
  font-size: 2em;
  padding: 20px;
  margin: 15px 0;
  text-align: center;
}

.adviceLine {
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 60%;
  margin: 1em auto 2.5em;
  color: #d8e6f3;
  font-weight: 900;
  font-style: oblique;
  position: relative;
  cursor: default;
}

.adviceLine::before {
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: #60718f;
  position: absolute;
  left: 0;
  top: 55%;
}

.adviceLine::after {
  display: block;
  content: "";
  width: 45%;
  height: 2px;
  background-color: #60718f;
  position: absolute;
  right: 0;
  top: 55%;
}

.adviceBtn {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #57ffb0;
  border-radius: 100%;
  position: absolute;
  height: 50px;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  cursor: pointer;
  transition: all .1s linear;
  outline: none;
  border: none;
}

.adviceBtn:hover {
  box-shadow: 0px 0px 10px 5px #57ffb0;
}